.tech {
    background-color: black;
    color: white;
    font-family: "montserrat";
    font-size: 15px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 4px 6px;
    margin: 5px;
}