
p.bubble {
	position: relative;
	width: 300px;
	text-align: center;
	line-height: 1.4em;
	margin: 40px auto;
	background-color: black;
	// border: 8px solid rgb(99, 11, 99);
	border: 8px solid white;
	font-family: "montserrat";
    color: white;
	padding: 20px;
	font-size: 13px;
    // margin-left: 50%;
}


p.bubble:before,
p.bubble:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
}

p.speech:before {
	left: 30px;
	bottom: -50px;
	border: 25px solid;
	// border-color: rgb(99, 11, 99) transparent transparent rgb(99, 11, 99);
	border-color: white transparent transparent white;

}

p.speech:after {
	left: 38px;
	bottom: -30px;
	border: 15px solid;
	// border-color: rgb(99, 11, 99) transparent transparent rgb(99, 11, 99);
	border-color: white transparent transparent white;
}

.speak__container {
	width: 50%;
	position: fixed;
	// position: absolute;
	margin-top: -11%;
	margin-left: 5%;

    &__img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
		margin-top: 50%;
    }
}

.talk__container {
	position: absolute;
	display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    // margin-right: 23%;
	width: 50%;
}

.cross {
	position: absolute;
	margin-top: 33%;
	margin-left: 12%;
}

.show {
	display: block;
}

.no__show {
	display: none;
}
